<!DOCTYPE html>
<html lang="es" ng-app="form">
<head>
	<title>EVENTOS TODO CAMPO</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="author" content="Eventostodocampo">
    <meta name="Apgca.cl" content="Eventostodocampo">
    <meta name="vw96.objectype" content="Document">
    <meta name="resource-type" content="Document">
    <meta http-equiv="Content-Type" content="ISO-8859-1">
    <meta name="distribution" content="all">
    <meta name="robots" content="all">
    <meta name="revisit" content="15 days">
    <link rel="Aplicaciones" content="http://www.apgca.cl">
    <link rel="Paginas Web " content="http://www.apgca.cl">
    
    <!-- <base href="/contacto">  -->
    
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/frmContacto.css">
    <link rel="stylesheet" href="./assets/css/appSpinner.css">  

</head>
<body class="ng-cloak">
	<header class="ha-header">
		<div class="grid-container">
			<div class="logo">
				<a href="/"><img src="assets/images/logo.png"  alt="Logo Eventos Todo Campo"></a>
        	</div>
        	<div class="menu_bar">
            	<a href="#" class="bt-menu"><img src="assets/images/menu.png" alt=""></a>
        	</div>
        	<nav>
				<ul>
					<li><a href="/menu-asados">Nuestros Menú</a></li>
                    <li><a href="/galeria-asados">Galerias</a></li>
                    <li><a href="/eventos-a-domicilio">Centros de Eventos</a></li>
                    <li><a href="/clientes">Nuestros Clientes</a></li>
                    <li><a class="press" href="/contacto">Contacto</a></li>
					<li><div class="redes">
		                    <a target="_blank" href="https://www.facebook.com/EventosTodoCampo"><img src="assets/images/facebook.png"  alt="Facebook"></a>
		                    <a target="_blank" href="https://www.instagram.com/eventostodocampo/"><img src="assets/images/instagram.png"  alt="Instagram"></a>
		                    <a target="_blank" href="https://vimeo.com/channels/todocampo"><img src="assets/images/vimeo.png"  alt="Vimeo"></a>
                </div></li>
				</ul>
			</nav>

		</div>
	</header>

    <div class="container" ng-controller="FormCtrl">
        <div loading class="spinner"><div class="dot1"></div><div class="dot2"></div></div>      


    <div class="content">


        <div class="bloque-contacto-txt">
                <h2 class="txtBlanco">- Formulario de Contacto -</h2>
        </div>
        <div class="bloque-contacto formContact" >
            



                
                
                <div id="msg" 
                class="confirmation" 
                ng-show="submitOk"
                 
                ><h2><span ng-bind='frm.msg' ng-cloak></span></h2></div>








            <form id="formulario" name="formulario" 
                    ng-submit="submitForm()" 
                    novalidate
                    ng-hide="submitOk"
                    style="display:none">
                
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" ng-model="frm.nombre" placeholder="Ingrese su Nombre" required />
                <div ng-show="!frm.nombre && formulario.$submitted "  class="alert">Debe ingresar el Nombre para continuar</div>
            
                
                <label for="email">Email:</label>
                <input type="email" name="email" ng-model="frm.email" placeholder="Ingrese su Email" required />

                <div ng-show="!frm.email && formulario.$submitted "  class="alert">Debe ingresar un email válido para continuar</div>
               
                <label for="fono">Teléfono:</label>
                <input type="text" name="fono" ng-model="frm.fono" placeholder="Ingrese su Teléfono" required />
                
                <div ng-show="!frm.fono && formulario.$submitted "  class="alert">Debe ingresar su Teléfono para continuar</div>
                
                <label for="msg">Mensaje:</label>
                <textarea class="" rows="5" id="msg" name="msg" ng-model="frm.msg" placeholder="Ingrese su Mensaje" required ></textarea>
                
                <div ng-show="!frm.msg && formulario.$submitted"  class="alert">Debe ingresar su Mensaje para continuar</div>
                
                <label for="btn"></label>
                <button  type="submit"  class="btn btn-dorado"  value="Ordenar" >Enviar</button>
         
                </form>

        </div>
        <div class="bloque-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.679428294679!2d-70.577165!3d-33.69136399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfb1ab440be8848e8!2sIglesia+santa+Ana+de+lo+Arcaya!5e0!3m2!1ses-419!2scl!4v1501036302858" width="100%" height="250px" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
            
            <h3>Eventos Todo Campo</h3><hr>  
            <p>ventas@eventostodocampo.cl</p>  
            <p>Celular (+569) 9 730 53 58</p>  
        </div>
    </div>
    </div>

<!-- <script src="assets/js/swiper.min.js"></script> 
<script src="assets/js/jquery-latest.js"></script> -->

<script src="./assets/js/angular.min.js"></script>
<script src="./assets/js/appFrm.js"></script>

<!-- <script src="assets/js/app.js"></script> -->
<!--  ESTADISTICAS GOOGLE ANALITYCS-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42573819-1', 'auto');
  ga('send', 'pageview');

</script>
<!--  FIN :ESTADISTICAS GOOGLE ANALITYCS-->

</body>
</html>