.container{
  max-width: 1200px;
}



.evento {
    /*background-color: green;*/
    position: fixed;
    top: 45px;
    color: #fff;
    margin-top: 10px;
    margin-left:50%;
    left: -600px;
    width: 1200px;
    text-align: center;
    padding: 0;
    z-index: 10000;
}
.eventoTop { top: 150px; }

.evento h2 {margin: 0 0; }
.evento p { text-align: justify; padding: 0 50px; }
.evento ul { text-align: left; }





.gallery {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
    align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

 .gallery a img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 140px;
      width: 208px;
            }
.gallery  a:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }



.gal-Cuatro{
    -webkit-flex: initial;
    flex: initial;
    margin-top: 690px;
}