/* #map {
        height: 100%;
      }*/




header,
.ha-header,
.container,
.footer,
.swiper-container,
.nav {
  float: left;
  position: relative;
  width: 100%;
}

.container .content {
  margin: 1em auto;
  padding: 3em 0;
}

.content {
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.content.inside {
  background-color: #000;
  border-radius: 5px;
  max-width: 1030px;
  padding: 75px 46px;
  text-align: left;
}

.content p{
  text-align: justify;
}
.content ul{
  text-align: left;
}

.bloque-contacto-txt{
  color: #fff;
  padding: 0 15px;
}



.bloque-contacto{
  /*z-index: 801; bottom: 0;*/
  /*background: rgba(255,255,255,0.9);*/
 
  height: 580px;
  margin: auto;
  /*left: 0;
  position: absolute;
  right: 0;
  top: 0;*/
  transition: background 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 450px;
  border-radius: 2px;
  float: left;

}
.bloque-contacto label{ text-align: left; color: #fff; display: block; width: 250px;}
.bloque-mapa{
  float:  right;
  width:  422px; 
  height: 250px;
}
.bloque-mapa p{
  color: #fff;
  margin-bottom: 5px;
}
.bloque-mapa h3{
  color: #fff;
  text-align: left;
}

.txtBlanco{
  color: #fff;
}

.alert{
  display: block;
  text-align: left;
  font-size: 10px;
  color: red;
  padding: 5px 10px;
}

/*.alert { color : #d9b950; display: none; }*/
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}

form h2 {
  text-align: center;
}


form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  /*width: 25%;*/
  float: left;
  padding-left: 30px;
  /*min-height: 42px;
  padding: 5px 5px;*/
  color: #fff;
  font-size: 14px;

}
form > div > div,
form > div > fieldset > div {
  width: 90%;
  float: right;
}
form > div > fieldset label {
  font-size: 90%;
}
fieldset {
  border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  min-height: 30px;
  padding: 10px 16px;
  line-height: 1.33;
  border-radius: 6px;

    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;

  width: 80%;
  float: left;
  display: block;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] { width: 80%; }
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus { outline: 0; border-color: #4697e4; }



.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 89%;

    min-height: 30px;
    float: left;
}
.btn-red{
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-azul{
  color: #fff;
  background-color: #00396a;
  border-color: #6e86be;
}
.btn-dorado{
  color: #fff;
  background-color: #d9b950;
  border-color: #85690d;
}


/*Medias Query*/

@media screen and (max-width:940px ) {

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password],
    textarea {
        /*min-height: 30px;
        width: 50%;*/
    }
     .bloque-contacto{
        height: 470px;
        width: 90%;
        float: right;
    }
    h2{ font-size: 1.5em; } 
    .container .content{
      padding: 0; 
      margin:  0; 
    }
    /*.alert{ display: none; }*/

    form > div { margin: 1px 0; }
    form h2    { margin:5px 0;  font-size: 1.6em; }
    .btn{ width: 91%; }

    .bloque-mapa{
      display: block;
      float:  right;
      width:  98%; 
      height: 250px;
    }
    .bloque-mapa p{
      display: block;
    }
    .bloque-mapa h3{
      display: block;
    }


}