
.gallery {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
    align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

 .gallery a img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%;
            }
.gallery  a:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }



.gal-Cuatro{
    -webkit-flex: initial;
    flex: initial;
    margin-top: 140px;
}