header,
.ha-header,
.container,
.footer,
.swiper-container,
.nav {
  float: left;
  position: relative;
  width: 100%;
}

.container .content {
  margin: 1em auto;
  padding: 3em 0;
}

.content {
  margin: 0 auto;
  max-width: 1122px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.content.inside {
  background-color: #000;
  border-radius: 5px;
  max-width: 1030px;
  padding: 75px 46px;
  text-align: left;
}

.content p{
	text-align: justify;
}
.content ul{
	text-align: left;
}

.evento-txt{
	color: #fff;
	padding: 0 15px;
}



/***	GALERIA ************/

.gallery {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -webkit-align-items: center;
    align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

 .gallery a img {
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      height: 100%;
      width: 100%;
            }
.gallery  a:hover img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }



.gal-Cuatro{
    -webkit-flex: initial;
    flex: initial;
    /*margin-top: 140px;*/
}