/*@import url('./normalize.css') screen;;*/
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #000;
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Open Sans', sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
    position: relative;

}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 { font-weight: 300; }
h1 { font-size: 2.5em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
p { margin-top: 0; }

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /*font-size: 18px;*/
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




.bg { 
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h2   { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 2.8em; }
.bg h2 a { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 0.7em; padding-top: 30px;display: block;}

.bg-home1{ background-image: url("../images/asado-lena.jpg"); }
.bg-home2{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home3{ background-image: url("../images/ambientes-campestres.jpg"); }
.bg-home4{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home5{ background-image: url("../images/cocktail.jpg"); }
.bg-home6{ background-image: url("../images/buffet-bar-abierto.jpg"); }




.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;


   /* width:100%;
    margin:auto;*/
    /* Flexbox */
    display:flex;
    flex-flow:row wrap;
}
.redes{
    display:flex;
    /*flex-flow:row wrap;*/
    flex-direction: row;
    flex-wrap: no-wrap;

    padding-left: 20px;
}
.redes a{
    padding:0;
    /* Flexbox */
    flex-grow:1;
}
header {
    background: rgba(0, 0, 0, .6); 
    width:100%;
    padding:5px;
    /*float: center; */

    /* Flexbox */
    display: flex;
    justify-content:space-between;
    align-items:center;

    flex-direction:row;
    flex-wrap:wrap;
}

header .logo {
    /*font-size:30px;*/
}

header .logo img {
    vertical-align: top;
}

header .logo a {
    color:#fff;
    text-decoration: none;
    line-height:50px;
}

header nav {
    width:50%;
    /* Flexbox */

    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

header nav a {
    white-space: nowrap;
    padding-left: 25px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*font-size: 11px;*/
    position: relative;
    text-decoration: none;
    display: block;
    font-size: .68em;


    -webkit-transition:color 0.7s ease;
    -moz-transition:color 0.7s ease;
    -o-transition:color 0.7s ease;
    transition:color 0.7s ease;




    /*color:#fff;
    text-align: center;
    text-decoration: none;
    padding:10px;
    */

    /* Flexbox */
    flex-grow:0; /* indica el crecimiento del ítem respecto al resto. */
}

header nav a:hover {
    text-shadow: #000 0px 0px 7px;
    -webkit-transition: all 0.15s ease-out; 
    -moz-transition: all 0.15s ease-out; 
    transition: all 0.15s ease-out;
    color: #555;
}




@media screen and (max-width: 800px) {
  .wrap { flex-direction:column; }

  header {
    flex-direction:column;
    padding:0;
  }

  header .logo {
    margin:20px 0;
  }

  header nav {
    width: 100%;
    padding-left: auto;
    padding-right: auto;
  }

 /* MENU RESPONSIVE 
.header {
    display:none;
}




    .menu_bar {
        display:block;
        width:100%;
        position: fixed;
        top:0;
        background:#E6344A;
    }
 
    .menu_bar .bt-menu {
        display: block;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
 
    .menu_bar span {
        float: right;
        font-size: 40px;
    }
 
    header nav {
        width: 80%;
        height: calc(100% - 80px);
        position: fixed;
        right:100%;
        margin: 0;
        overflow: scroll;
    }
 
    header nav ul li {
        display: block;
        border-bottom:1px solid rgba(255,255,255,.5);
    }
 
    header nav ul li a {
        display: block;
    }
 
    header nav ul li:hover .children {
        display: none;
    }
 
    header nav ul li .children {
        width: 100%;
        position: relative;
    }
 
    header nav ul li .children li a {
        margin-left:20px;
    }
 
    header nav ul li .caret {
        float: right;
    }
 
 fin MENU*/
}
