/** {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFA;
}*/


html, body {
    position: relative;
    height: 100%;
}
 
body {
    background: #000;
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Open Sans', sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
    position: relative;

}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 { font-weight: 300; }
h1 { font-size: 2.5em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
p { margin-top: 0; }

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /*font-size: 18px;*/
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




.bg { 
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h2   { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 2.8em; }
.bg h2 a { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 0.7em; padding-top: 30px;display: block;}

.bg-home1{ background-image: url("../images/asado-lena.jpg"); }
.bg-home2{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home3{ background-image: url("../images/ambientes-campestres.jpg"); }
.bg-home4{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home5{ background-image: url("../images/cocktail.jpg"); }
.bg-home6{ background-image: url("../images/buffet-bar-abierto.jpg"); }




.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;


   /* width:100%;
    margin:auto;*/
    /* Flexbox */
    display:flex;
    flex-flow:row wrap;
}



header {
	width:100%;
}

header nav {
	width:90%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}

.menu_bar {
	display:none;
}

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li {
	float:left;
}

header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

header nav ul li span {
	margin-right:10px;
}

header nav ul li a:hover {
	background:#037E8C;
}

section {
	padding:20px;
}

@media screen and (max-width:800px ) {
	header nav {
		width:80%;
		height:100%;
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}

	.menu_bar {
		display:block;
		width:100%;
		background:#ccc;
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}
}