

html, body {
    position: relative;
    height: 100%;
}
 
body {
    background: #000;
    /*font-family: 'Comfortaa', cursive;*/
    font-family: 'Open Sans', sans-serif;
    color:#000;
    margin: 0;
    padding: 0;
    position: relative;

}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 { font-weight: 300; }
h1 { font-size: 2.5em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1em; }
p { margin-top: 0; }

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /*font-size: 18px;*/
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.bg { 
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg h2   { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 2.8em; }
.bg h2 a { color: #fff; font-family: 'Open Sans', sans-serif; font-size: 0.7em; padding-top: 30px;display: block;}

.bg-home1{ background-image: url("../images/asado-lena.jpg"); }
.bg-home2{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home3{ background-image: url("../images/ambientes-campestres.jpg"); }
.bg-home4{ background-image: url("../images/banqueteria-matrimonios.jpg"); }
.bg-home5{ background-image: url("../images/cocktail.jpg"); }
.bg-home6{ background-image: url("../images/buffet-bar-abierto.jpg"); }





header{
	background: rgba(0,0,0 , 0.95 );
}

.ha-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    padding: 0;
    z-index: 10000;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}
.logo{
	float: left;
    width: 20%;
}
nav{
	position: none;
	float: right;
}


.menu_bar { display:none; }

header nav ul {
	overflow:hidden;
	list-style:none;
}

header nav ul li { float:left; }

header nav ul li a {
	color:#fff;
	padding: 5px 20px;


	text-transform: uppercase;
    letter-spacing: 1px;
    /*font-size: 11px;*/
    position: relative;
    text-decoration: none;
    display: block;
    font-size: .68em;


    -webkit-transition:color 0.7s ease;
    -moz-transition:color 0.7s ease;
    -o-transition:color 0.7s ease;
    transition:color 0.7s ease;

}

header nav ul li span { margin-right:10px; }

header nav ul li a:hover { 
	text-shadow: #000 0px 0px 7px;
    -webkit-transition: all 0.15s ease-out; 
    -moz-transition: all 0.15s ease-out; 
    transition: all 0.15s ease-out;
    color: #555;
}

.redes{
    display:flex;
    /*flex-flow:row wrap;*/
    flex-direction: row;
    flex-wrap: no-wrap;

    padding-left: 20px;
}
.redes a{
    padding:0;
    /* Flexbox */
    flex-grow:1;
}



@media screen and (max-width:260px ) {
	.logo{
		display: none;
	}
}

@media screen and (max-width:940px ) {

	.menu_bar {
		display:block;
		width:100%;
		/*background:#ccc;*/
	}

	.menu_bar .bt-menu {
		display:block;
		padding:20px;

		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		float: right;
	}

	.menu_bar span {
		float:right;
		font-size:40px;
	}

header nav {
		width:100%;
		height:500px;
		left:-100%;
		margin:0;
		position: fixed;
		top:60px;
		background-color: #000;
	}
	header nav ul{ padding: 0; }

	header nav ul li {
		display:block;
		float:none;
		height: 40px;
		
	}

	.redes{ width: 100px; }




}
