
@import url(bootstrap.min.css);
@import url(carousel.css);
/*@import url(../header/style.css);*/

@import url(../cssslice/site_global.css);
@import url(../cssslice/master_a-master.css?194078146);
@import url(../cssslice/index.css?3916478902);


@font-face {
        font-family: 'Nobile';
        src: url('../fonts/Nobile/Nobile-Regular.ttf');
}
@font-face {
         font-family:'Nobile Bold';
        src: url('../fonts/Nobile/Nobile-Bold.tff');
}


html, body {
    height: 100%;
    margin: 0; padding: 0;
}
body {
	font-size: 14px;
    line-height: 26px;
    color: #293237;
    text-align: justify;
    font-family: nobile, sans-serif;
    font-weight: 400 !important;

    display : table;
    width: 100%;
}




/* CARRUSEL ****************************************/
/* Main carousel style */
.carousel-indicators {
    position: static;
    }
.carousel {
    width: 100%;
}

/* Indicators list style */
.article-slide .carousel-indicators {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
}
/* Indicators list style */
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 100px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 150px;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 100px;
    left: 0;
    width: 150px;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}
/* ELIMINAR DIV CUANDO SEA PEQUENO ****************************************/
@media (max-width: 768px) {
  .SubTitulo {
    display: none;
  }
}
@media (min-width: 768px) {
	.col-lg-12{ padding-right:7px; } 
}

.Captions---Full-Width-Slider {
    padding: 130px 20px 50px 30px;
  }
/* @media (min-width: 1200px)
.container {
    width: 1170px;
}


body{margin:40px;}*/


.form-control{
    height: 50px;
}


/* BOTONES REDONDOS ****************************************/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-negro{
    color: #fff;
    background-color: #293237;
    border-color: #293237;
}



/* CAROUSEL ****************************************/
.tamanoCaption{
	min-height: 451px;
	z-index: 48;
	width: 302px;
	border-style: none;
	border-color: transparent;
	background-color: #424242;
	background-color: rgba(0,0,0,0.74);
	padding: 10px;
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.74);
}

#u962 {
    /*position: absolute;*/
    width: 322px;
    background-color: transparent;
   /* left: 415px;*/
 }


/* BOTONES MENUS ****************************************/
.MenuBoton {
  /*  z-index: 17;
    width: 305px;
    width: 100%;*/
    border-color: #787878;
    background-color: #293237;
    border-radius: 10px;
    padding-top: 28px;
    padding-left: 15px;
    height: 74px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.txtBoton {
  	padding-top: 0px;
  	padding-left: 0px;
  	padding-bottom: 0px;
  	color: #FFFFFF;
    font-family: nobile, sans-serif;
    font-size: 27px;
    font-weight: 500;
}
.corner {
    width: 18px;
    height: 17px;
    border-color: #000000;
    background-color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin-right: 30px;
}



.rowClientes{
	height: 102px;
	display: inline-block;
}
/*****************************************/


.navbar-nav {
    margin: 15px 0 0 0;
}


.navbar-default .navbar-default>li>a ul li a{

}
.navbar-default .navbar-default>li>a a {
    color: #000000;
    visibility: inherit;
    text-decoration: none;
    font-weight: bold;

    line-height: 14px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: nobile, sans-serif;
}

.navbar-default .navbar-default>li>a a a:hover a:focus a:visited a:link
{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a {
    color: #000000;
    visibility: inherit;
    text-decoration: none;
    font-weight: bold;

    line-height: 14px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: nobile, sans-serif;
}

/*.nav-justified ul li a{

}
.nav-justified a {
    color: #000000;
    visibility: inherit;
    text-decoration: none;
    font-weight: bold;

    line-height: 14px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 12px;
    font-family: nobile, sans-serif;
}

.nav-justified a a:hover a:focus a:visited a:link
{
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}*/

.marginTop{
	margin-top: 15px;
}
.marginTopSlice{
	margin-top: 112px;
	/*margin-top: 15px;*/
}
.logo{
	margin-bottom: 10px;
}
.txtSubTitulo{
	border-left: 1px #7F7F7F solid;
	margin-top: 38px;
	color: #7F7F7F;
    line-height: 32px;
    font-size: 27px;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: normal;
    font-style: normal;
    padding-left: 15px;
}
.linea{
	margin-top: 30px;
	width: 100%;
	color: #7F7F7F;
	font-size: 10px;
	width:100%;
	height: 2px;
	background-color: #7F7F7F;
}

.txtNombre p{
	font-weight: 400;
}
.titulo{
	margin-top: 16px;
	text-align: center;
    font-size: 27px;
    font-family: nobile, sans-serif;
    font-weight: bold;
    color: #7F7F7F;
}
.imgSocial{
	margin-right: 14px;
}

.RectanCalugaHome
{
	background-color: #DCDCDC;
	height: 238px;
	margin-bottom: 20px;
}
.txtCalugaHome{
	padding-top: 20px;
	font-size: 17px;
    line-height: 23px;
    font-family: nobile, sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #293237;
}
.txtParrafo{
    color: #7F7F7F;
    text-align: justify;
    font-family: nobile, sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
}

/* CONTENIDO CENTER ****************************/
.ContenidoCenter{
	position: static;
	margin-top: 20px;
}

/* FOOTER ****************************/
.footer{
	display : table-row;
    height: 100px;
	width: 100%;
	right: 0;
  	bottom: 10px;

    background-color: #293237;
    min-height: 287px;
    
    margin: 0px 3px;
}
.txtfooterTit{
    color: #FFFFFF;
    line-height: 21px;
    font-size: 25px;
    margin-bottom: 30px;
}
.txtfooter{
	color: #FFFFFF;
	font-size: 21px;
    line-height: 18px;
    margin-bottom: 20px;
}
.copyright{
    position: relative;    
    height: 28px;
    width: 100%;
    right: 0;
    bottom: 0;

    margin: 0px;

	padding: 3px 0 3px 0;
	background-color: #000;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 10px;
    font-family: nobile, sans-serif;
    font-weight: 400;
    color: #fff;
}

.copyright a
{
    color: #fff;
    text-decoration: none;
}
.copyright a:hover a:focus a:visited a:link
{
    color: #fff;
    text-decoration: none;
}




.ws_images span img {
  position: relative;
  top: 50%;
  
  /*background-size: cover;*/
  width:100%;
  height:903px; 
  transform: translateY(-50%);
}

/*  optimizado a pantalla 1024 */
#wowslider-container1  .ws-title {
    position: absolute;
    height: 100%;
    width: 322px;
    display: block;
    /* bottom: 0px; */
    left: 5% !important;
    margin-bottom: 0px !important; 
    /* margin-bottom: 9px; */
    /* margin-left: 9px; */
    padding: 15px;
    background: #000 !important;;
    z-index: 50;
    opacity: 0.8;
    border-radius: 0px !important;

    color: #FFFFFF;
    font-family: Times, Times New Roman, Georgia, serif;
    font-size: 39px;
    font-style: italic;
    line-height: 55px;
    text-align: left;
    padding: 70px 20px 50px 30px;


    /* border-radius: 5px; 
    -moz-border-radius: 5px;*/
    /* -webkit-border-radius: 5px; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);*/
}


	
/* NOSOTROS ***************************/
.ImgFullHeader{
    z-index: 38;
    
    height: 288px;
    margin-top: 27px;
    position: relative;
    background: transparent url("../images/nosotros.jpg") no-repeat left top;
    background-size: cover;
}
.ImgFullMenu{
    z-index: 38;
    
    height: 288px;
    margin-top: 27px;
    position: relative;
    background: transparent url("../images/menu_fondo.jpg") no-repeat left top;
    background-size: cover;
}
.ImgFull{
	z-index: 38;
	
	height: 233px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/equipamiento-2.jpg") no-repeat left top;
	background-size: cover;
}
