.version.asados_a_la_le_a_y_a_las_brasas /* version checker */
{
	color: #0000EF;
	background-color: #4E7D60;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 32;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 33;
	width: 956px;
}

#u7838-3
{
	z-index: 34;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 37;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 38;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 89;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 93;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 96;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 98;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 102;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 103;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 104;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 107;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 105;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 106;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#slideshowu5569
{
	z-index: 2;
	width: 0.01px;
	height: 711px;
	margin-left: 5px;
	margin-top: 34px;
	position: relative;
}

#u5582
{
	position: absolute;
	width: 950px;
	height: 650px;
	background-color: transparent;
}

#u5582popup
{
	z-index: 3;
}

#u5655
{
	z-index: 4;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5655_img
{
	padding: 52px 76px 51px 75px;
}

#u10191
{
	z-index: 6;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10203
{
	z-index: 8;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5664
{
	z-index: 10;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u5664_img
{
	padding: 51px 75px 52px;
}

#u5682
{
	z-index: 12;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10191_img,#u5682_img
{
	margin-left: -13px;
	margin-right: -12px;
}

#u10223
{
	z-index: 14;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10191_clip,#u5682_clip,#u10223_clip
{
	overflow: hidden;
	width: 950px;
	height: 650px;
}

#u10223_img
{
	margin: 37px -37px;
}

#u5593-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 444px;
}

#u5593-4popup
{
	z-index: 16;
}

#u5580-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 413px;
}

#u5580-4popup
{
	z-index: 20;
}

#u5593,#u5580
{
	color: #999999;
}

#u5581-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 513px;
}

#u5581-4popup
{
	z-index: 24;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10297-4
{
	z-index: 28;
	width: 275px;
	min-height: 45px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	margin-left: 13px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u10297
{
	color: #94999B;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 81px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 94;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 83;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 71;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 75;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 69;
	min-height: 287px;
}

#u1032
{
	z-index: 70;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 84;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 70;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 109;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

