.version.casa_las_vizacachas /* version checker */
{
	color: #0000F0;
	background-color: #C35F28;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 58;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 59;
	width: 956px;
}

#u7838-3
{
	z-index: 60;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 63;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 64;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 115;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 119;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 122;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 124;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 128;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 129;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 130;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 133;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 131;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 132;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#slideshowu9002
{
	z-index: 6;
	width: 0.01px;
	height: 573px;
	margin-left: 4px;
	margin-top: 11px;
	position: relative;
}

#u9004
{
	position: absolute;
	width: 956px;
	height: 524px;
	background-color: transparent;
}

#u9004popup
{
	z-index: 7;
}

#u9005
{
	z-index: 8;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9103
{
	z-index: 10;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9112
{
	z-index: 12;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9121
{
	z-index: 14;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9112_img,#u9121_img
{
	margin-top: -25px;
	margin-bottom: -24px;
}

#u9130
{
	z-index: 16;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9139
{
	z-index: 18;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9148
{
	z-index: 20;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9157
{
	z-index: 22;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9005_clip,#u9103_clip,#u9112_clip,#u9121_clip,#u9130_clip,#u9139_clip,#u9148_clip,#u9157_clip
{
	overflow: hidden;
	width: 956px;
	height: 524px;
}

#u9005_img,#u9103_img,#u9130_img,#u9139_img,#u9148_img,#u9157_img
{
	margin-top: -7px;
	margin-bottom: -7px;
}

#u9166
{
	z-index: 24;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9175
{
	z-index: 26;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9175_img
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u9184
{
	z-index: 28;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9193
{
	z-index: 30;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9193_img
{
	padding-top: 15px;
	padding-bottom: 15px;
}

#u9202
{
	z-index: 32;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9202_img
{
	padding-top: 27px;
	padding-bottom: 27px;
}

#u9211
{
	z-index: 34;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9211_img
{
	padding-top: 7px;
	padding-bottom: 6px;
}

#u9220
{
	z-index: 36;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9229
{
	z-index: 38;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9238
{
	z-index: 40;
	width: 956px;
	height: 524px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u9238_img
{
	padding-top: 19px;
	padding-bottom: 18px;
}

#u9003-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 533px;
	left: 847px;
}

#u9003-4popup
{
	z-index: 42;
}

#u9015-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 533px;
	left: 816px;
}

#u9015-4popup
{
	z-index: 46;
}

#u9006-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 533px;
	left: 916px;
}

#u9006-4popup
{
	z-index: 50;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10095-4
{
	z-index: 54;
	width: 364px;
	min-height: 26px;
	background-color: transparent;
	font-size: 17px;
	line-height: 20px;
	margin-left: 6px;
	top: -11px;
	margin-bottom: -11px;
	position: relative;
}

#u8512-4
{
	z-index: 2;
	width: 627px;
	min-height: 181px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 11px;
	position: relative;
}

#u10095,#u8512
{
	color: #94999B;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 47px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 120;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 109;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 97;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 101;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 95;
	min-height: 287px;
}

#u1032
{
	z-index: 96;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 110;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 96;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 135;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

