.version.eventos_empresas /* version checker */
{
	color: #000017;
	background-color: #F78E9D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 36;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 37;
	width: 956px;
}

#u7838-3
{
	z-index: 38;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 41;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 42;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 93;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 97;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 100;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 102;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 106;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 107;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 108;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 111;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 109;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 110;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#slideshowu6173
{
	z-index: 2;
	width: 0.01px;
	height: 711px;
	margin-left: 5px;
	margin-top: 34px;
	position: relative;
}

#u6182
{
	position: absolute;
	width: 950px;
	height: 650px;
	background-color: transparent;
}

#u6182popup
{
	z-index: 3;
}

#u6296
{
	z-index: 4;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6305
{
	z-index: 6;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6332
{
	z-index: 8;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6341
{
	z-index: 10;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6350
{
	z-index: 12;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10160
{
	z-index: 14;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10160_img
{
	margin-left: -13px;
	margin-right: -12px;
}

#u6386
{
	z-index: 16;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10160_clip,#u6386_clip
{
	overflow: hidden;
	width: 950px;
	height: 650px;
}

#u6386_img
{
	margin: -7px 32px -8px;
}

#u6368
{
	z-index: 18;
	width: 950px;
	height: 650px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u6175-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 443px;
}

#u6175-4popup
{
	z-index: 20;
}

#u6194-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 412px;
}

#u6194-4popup
{
	z-index: 24;
}

#u6175,#u6194
{
	color: #999999;
}

#u6193-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 671px;
	left: 512px;
}

#u6193-4popup
{
	z-index: 28;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u10730-4
{
	z-index: 32;
	width: 275px;
	min-height: 45px;
	background-color: transparent;
	text-align: left;
	line-height: 20px;
	margin-left: 18px;
	top: -28px;
	margin-bottom: -28px;
	position: relative;
}

#u10730
{
	color: #94999B;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 76px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 98;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 87;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 75;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 79;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 73;
	min-height: 287px;
}

#u1032
{
	z-index: 74;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 88;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 74;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 113;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

