.version.galeria /* version checker */
{
	color: #000018;
	background-color: #8459DF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1205px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 2;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 3;
	width: 956px;
}

#u7838-3
{
	z-index: 4;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 7;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 8;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 59;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 63;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 66;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 68;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 72;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 73;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 74;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 77;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 75;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 76;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#slideshowu3848
{
	z-index: 82;
	width: 0.01px;
	height: 685px;
	margin-left: 6px;
	margin-top: 11px;
	position: relative;
}

#u3859
{
	position: absolute;
	width: 952px;
	height: 624px;
	background-color: transparent;
}

#u3859popup
{
	z-index: 83;
}

#u3864
{
	z-index: 84;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10315
{
	z-index: 86;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10315_img
{
	margin: 137px -36px;
}

#u10324
{
	z-index: 88;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10339
{
	z-index: 90;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3937
{
	z-index: 92;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3946
{
	z-index: 94;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3955
{
	z-index: 96;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3955_img
{
	margin-left: -79px;
	margin-right: -78px;
}

#u3964
{
	z-index: 98;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3946_img,#u3964_img
{
	margin-left: -79px;
	margin-right: -79px;
}

#u3973
{
	z-index: 100;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3982
{
	z-index: 102;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3973_img,#u3982_img
{
	margin-top: -5px;
	margin-bottom: -5px;
}

#u3991
{
	z-index: 104;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4000
{
	z-index: 106;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4009
{
	z-index: 108;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4018
{
	z-index: 110;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4027
{
	z-index: 112;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10378
{
	z-index: 114;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10339_img,#u10378_img
{
	margin: 24px -36px;
}

#u10387
{
	z-index: 116;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10396
{
	z-index: 118;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10396_img
{
	margin-top: -4px;
	margin-bottom: -3px;
}

#u10405
{
	z-index: 120;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10414
{
	z-index: 122;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10405_img,#u10414_img
{
	margin: 24px -36px 25px;
}

#u10458
{
	z-index: 124;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10467
{
	z-index: 126;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10476
{
	z-index: 128;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10485
{
	z-index: 130;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10458_img,#u10467_img,#u10476_img,#u10485_img
{
	padding-top: 44px;
	padding-bottom: 45px;
}

#u10503
{
	z-index: 132;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10503_img
{
	padding-left: 20px;
	padding-right: 20px;
}

#u10533
{
	z-index: 134;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10542
{
	z-index: 136;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10551
{
	z-index: 138;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10560
{
	z-index: 140;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10583
{
	z-index: 142;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10387_img,#u10583_img
{
	margin-top: -6px;
	margin-bottom: -7px;
}

#u10592
{
	z-index: 144;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4018_img,#u10542_img,#u10551_img,#u10560_img,#u10592_img
{
	margin-top: -5px;
	margin-bottom: -6px;
}

#u10618
{
	z-index: 146;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10627
{
	z-index: 148;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u10636
{
	z-index: 150;
	width: 952px;
	height: 624px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3864_clip,#u10315_clip,#u10324_clip,#u10339_clip,#u3937_clip,#u3946_clip,#u3955_clip,#u3964_clip,#u3973_clip,#u3982_clip,#u3991_clip,#u4000_clip,#u4009_clip,#u4018_clip,#u4027_clip,#u10378_clip,#u10387_clip,#u10396_clip,#u10405_clip,#u10414_clip,#u10533_clip,#u10542_clip,#u10551_clip,#u10560_clip,#u10583_clip,#u10592_clip,#u10618_clip,#u10627_clip,#u10636_clip
{
	overflow: hidden;
	width: 952px;
	height: 624px;
}

#u3864_img,#u10324_img,#u3937_img,#u3991_img,#u4000_img,#u4009_img,#u4027_img,#u10533_img,#u10618_img,#u10627_img,#u10636_img
{
	margin-top: -45px;
	margin-bottom: -45px;
}

#u3866-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 645px;
	left: 440px;
}

#u3866-4popup
{
	z-index: 152;
}

#u3867-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 645px;
	left: 409px;
}

#u3867-4popup
{
	z-index: 156;
}

#u3866,#u3867
{
	color: #999999;
}

#u3873-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	color: #999999;
	line-height: 20px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 645px;
	left: 509px;
}

#u3873-4popup
{
	z-index: 160;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 142px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 64;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 53;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 41;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 45;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 39;
	min-height: 287px;
}

#u1032
{
	z-index: 40;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 54;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 40;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 79;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

