.Testimonials
{
	font-family: nobile-n4, sans-serif;
}

.Script
{
	font-family: dawning-of-a-new-day-n4, sans-serif;
}

.Large-Button,.Menu---Black-Headings,.h2,.Titulo-de-Bloque1,.Titulo-de-barra,.Textos-menues
{
	font-family: nobile-n5, sans-serif;
}

.cursiva
{
	font-family: nobile-i4, sans-serif;
}

.footer---heading,.SUBTITULOS-MENUES
{
	font-family: nobile-n7, sans-serif;
}

#u7834-4
{
	font-family: nobile-n5, sans-serif;
}

#u7805-4
{
	font-family: nobile-n5, sans-serif;
}

#u7823-4
{
	font-family: nobile-n5, sans-serif;
}

#u7826-4
{
	font-family: nobile-n5, sans-serif;
}

#u7814-4
{
	font-family: nobile-n5, sans-serif;
}

#u179-2
{
	font-family: nobile-i4, sans-serif;
}

#u7792-4,#u1031-5
{
	font-family: nobile-n4, sans-serif;
}

#u951-4
{
	font-family: medula-one-n4, serif;
}

#u959-4
{
	font-family: medula-one-n4, serif;
}

#u2779-2,#u2779-4
{
	font-family: nobile-n5, sans-serif;
}

#u7870-4
{
	font-family: nobile-n7, sans-serif;
}

#u2779-5,#u2779-7,#u7538,#u7538-2,#u7538-3,#u350,#u350-2,#u350-3,#u7539,#u7539-2,#u7539-3
{
	font-family: nobile-n4, sans-serif;
}

#u7538-4,#u7538-6,#u7538-8,#u350-4,#u350-6,#u7539-4,#u7539-6,#u7539-8
{
	font-family: nobile-i7, sans-serif;
}

