.Testimonials
{
	font-family: nobile-n4, sans-serif;
}

.Script
{
	font-family: dawning-of-a-new-day-n4, sans-serif;
}

.Large-Button,.Menu---Black-Headings,.h2,.Titulo-de-Bloque1,.Titulo-de-barra,.Textos-menues
{
	font-family: nobile-n5, sans-serif;
}

.cursiva
{
	font-family: nobile-i4, sans-serif;
}

.footer---heading,.SUBTITULOS-MENUES
{
	font-family: nobile-n7, sans-serif;
}

#u7834-4
{
	font-family: nobile-n5, sans-serif;
}

#u7805-4
{
	font-family: nobile-n5, sans-serif;
}

#u7823-4
{
	font-family: nobile-n5, sans-serif;
}

#u7826-4
{
	font-family: nobile-n5, sans-serif;
}

#u7814-4
{
	font-family: nobile-n5, sans-serif;
}

#u179-2
{
	font-family: nobile-i4, sans-serif;
}

#u7792-4,#u1031-5
{
	font-family: nobile-n4, sans-serif;
}

