#accordionu7799
{
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
}

#u7838-3
{
	border-color: #FFFFFF;
	background-color: transparent;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u7838-3:hover
{
	border-color: #FFFFFF;
}

#u7838-3:active
{
	border-color: #FFFFFF;
}

#u7838-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
}

#u7838-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

#u7801
{
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

#u7800,#u7831,#u7832
{
	background-color: transparent;
	position: relative;
}

#u7834-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u7832:hover #u7834-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7832:active #u7834-4 p
{
	color: #293237;
	visibility: inherit;
}

#u7803,#u7804
{
	background-color: transparent;
	position: relative;
}

#u7805-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u7804:hover #u7805-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7804:active #u7805-4 p
{
	color: #293237;
	visibility: inherit;
}

#u7817,#u7820
{
	background-color: transparent;
	position: relative;
}

#u7823-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u7820:hover #u7823-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7820:active #u7823-4 p
{
	color: #293237;
	visibility: inherit;
}

#u7824,#u7825
{
	background-color: transparent;
	position: relative;
}

#u7826-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u7825:hover #u7826-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7825:active #u7826-4 p
{
	color: #293237;
	visibility: inherit;
}

#u7810,#u7813
{
	background-color: transparent;
	position: relative;
}

#u7814-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	line-height: 14px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
}

#u7813:hover #u7814-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u7813:active #u7814-4 p
{
	color: #293237;
	visibility: inherit;
}

#u7832.MuseMenuActive #u7834-4 p,#u7804.MuseMenuActive #u7805-4 p,#u7820.MuseMenuActive #u7823-4 p,#u7825.MuseMenuActive #u7826-4 p,#u7813.MuseMenuActive #u7814-4 p
{
	color: #000000;
	visibility: inherit;
	text-decoration: none;
	font-weight: bold;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u2733-4
{
	background-color: transparent;
	color: #7F7F7F;
	line-height: 32px;
	font-size: 27px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: normal;
	font-style: normal;
	position: relative;
}

#u2746
{
	background-color: #7F7F7F;
	position: relative;
}

#u7792-4
{
	background-color: transparent;
	line-height: 19px;
	text-align: right;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
}

#u7794
{
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-radius: 2px;
	position: relative;
}

#menuu7802,#u7793,#u7795
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u7796,#u7797,#u7798
{
	border-color: #000000;
	background-color: #293237;
	position: relative;
}

#u77
{
	border-color: #000000;
	background-color: #293237;
}

#u3346,#u3220
{
	background-color: transparent;
	position: relative;
}

#u3220:hover
{
	background-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u3220_img
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
}

#u141
{
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
}

#u178-4
{
	background-color: transparent;
	color: #0084FF;
	line-height: 28px;
	font-size: 23px;
	position: relative;
}

#u178
{
	color: #FFFFFF;
}

#u179-8
{
	background-color: transparent;
	text-align: left;
	font-style: italic;
	position: relative;
}

#u179-2
{
	font-size: 16px;
	color: #FFFFFF;
	font-family: nobile, sans-serif;
	font-weight: 400;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u179
{
	font-size: 21px;
	line-height: 25px;
}

#u179-4,#u179-6
{
	font-size: 24px;
	line-height: 36px;
	font-family: Times, Times New Roman, Georgia, serif;
}

#u1032
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
}

#u77_align_to_page,#u1032_align_to_page
{
	position: relative;
}

#u1031-5
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 15px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: nobile, sans-serif;
	font-weight: 400;
	position: relative;
}

#u10705
{
	vertical-align: top;
	position: relative;
	background: url("../images/u10705.png") no-repeat 0px 0px;
}

#u10705:hover
{
	background: url("../images/u10705-r.png") no-repeat 0px 0px;
}

#u10705:active
{
	background: url("../images/u10705-m.png") no-repeat 0px 0px;
}

.hidpi #u10705
{
	background-image: url("../images/u10705_2x.png");
	background-size: 44px 42.74285714285715px;
}

.hidpi #u10705:hover
{
	background-image: url("../images/u10705-r_2x.png");
	background-size: 44px 42.74285714285715px;
}

.hidpi #u10705:active
{
	background-image: url("../images/u10705-m_2x.png");
	background-size: 44px 42.74285714285715px;
}

