.version.menus /* version checker */
{
	color: #0000FF;
	background-color: #A18F0E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 961px;
	min-height: 2072px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 129;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 130;
	width: 956px;
}

#u7838-3
{
	z-index: 131;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 134;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 135;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 186;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 190;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 193;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 195;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 199;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 200;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 201;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 204;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 202;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 203;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#u7851
{
	z-index: 59;
	height: 308px;
	background: transparent url("../images/celular%20242%20copia.jpg") no-repeat center center;
	background-size: cover;
}

#u7851-bw
{
	z-index: 59;
	margin-top: 10px;
	height: 308px;
}

#pu7267-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 34px;
}

#u7267-3
{
	z-index: 2;
	min-height: 883px;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u7267-3-bw
{
	z-index: 2;
	min-height: 883px;
	margin-top: 40px;
}

#buttonu7343
{
	z-index: 5;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 103px;
}

#buttonu7343:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u7345
{
	z-index: 10;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7343:hover #u7345
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7344-4
{
	z-index: 6;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7343:hover #u7344-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7343:hover #u7344-4 p,#buttonu7343:hover #u7344-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7357
{
	z-index: 11;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 103px;
}

#buttonu7357:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 128px -10000px 0px 0px;
}

#u7358
{
	z-index: 16;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7357:hover #u7358
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7359-4
{
	z-index: 12;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7343.ButtonSelected #u7344-4,#buttonu7357:hover #u7359-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7357:hover #u7359-4 p,#buttonu7357:hover #u7359-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7366
{
	z-index: 17;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 103px;
}

#buttonu7366:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 248px -10000px 0px 0px;
}

#u7368
{
	z-index: 22;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7366:hover #u7368
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7367-4
{
	z-index: 18;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7357.ButtonSelected #u7359-4,#buttonu7366:hover #u7367-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7366:hover #u7367-4 p,#buttonu7366:hover #u7367-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7351
{
	z-index: 23;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	left: 428px;
}

#buttonu7351:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu7351.ButtonSelected
{
	background-color: #293237;
	width: 305px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u7352
{
	z-index: 28;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7351:hover #u7352
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7353-4
{
	z-index: 24;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 56px;
}

#buttonu7351:hover #u7353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 7px -10000px 0px 0px;
}

#buttonu7351.ButtonSelected #u7353-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 7px -10000px 0px 0px;
}

#buttonu7351:hover #u7353-4 p,#buttonu7351:hover #u7353-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7360
{
	z-index: 29;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 428px;
}

#buttonu7360:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 128px -10000px 0px 0px;
}

#u7362
{
	z-index: 34;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7360:hover #u7362
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7361-4
{
	z-index: 30;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7366.ButtonSelected #u7367-4,#buttonu7360:hover #u7361-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7360:hover #u7361-4 p,#buttonu7360:hover #u7361-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7369
{
	z-index: 35;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 428px;
}

#buttonu7369:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 248px -10000px 0px 0px;
}

#u7370
{
	z-index: 40;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7369:hover #u7370
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7371-4
{
	z-index: 36;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7360.ButtonSelected #u7361-4,#buttonu7369:hover #u7371-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7369:hover #u7371-4 p,#buttonu7369:hover #u7371-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7354
{
	z-index: 41;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 754px;
}

#buttonu7354:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#buttonu7343.ButtonSelected,#buttonu7354.ButtonSelected
{
	background-color: #293237;
	width: 305px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u7356
{
	z-index: 46;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7354:hover #u7356
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7355-4
{
	z-index: 42;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7369.ButtonSelected #u7371-4,#buttonu7354:hover #u7355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7354:hover #u7355-4 p,#buttonu7354:hover #u7355-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7363
{
	z-index: 47;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 754px;
}

#buttonu7363:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 128px -10000px 0px 0px;
}

#buttonu7357.ButtonSelected,#buttonu7360.ButtonSelected,#buttonu7363.ButtonSelected
{
	background-color: #293237;
	width: 305px;
	min-height: 0px;
	margin: 128px -10000px 0px 0px;
}

#u7364
{
	z-index: 52;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7363:hover #u7364
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7365-4
{
	z-index: 48;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7354.ButtonSelected #u7355-4,#buttonu7363:hover #u7365-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7363:hover #u7365-4 p,#buttonu7363:hover #u7365-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu7372
{
	z-index: 53;
	width: 305px;
	border-color: #787878;
	background-color: #293237;
	border-radius: 10px;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 754px;
}

#buttonu7372:hover
{
	background-color: #94999B;
	width: 305px;
	min-height: 0px;
	margin: 248px -10000px 0px 0px;
}

#buttonu7366.ButtonSelected,#buttonu7369.ButtonSelected,#buttonu7372.ButtonSelected
{
	background-color: #293237;
	width: 305px;
	min-height: 0px;
	margin: 248px -10000px 0px 0px;
}

#u7374
{
	z-index: 58;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 17px;
}

#buttonu7372:hover #u7374
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#buttonu7343.ButtonSelected #u7345,#buttonu7357.ButtonSelected #u7358,#buttonu7366.ButtonSelected #u7368,#buttonu7351.ButtonSelected #u7352,#buttonu7360.ButtonSelected #u7362,#buttonu7369.ButtonSelected #u7370,#buttonu7354.ButtonSelected #u7356,#buttonu7363.ButtonSelected #u7364,#buttonu7372.ButtonSelected #u7374
{
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 28px -10000px 0px 0px;
}

#u7373-4
{
	z-index: 54;
	width: 234px;
	min-height: 41px;
	background-color: transparent;
	text-align: left;
	line-height: 14px;
	letter-spacing: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 56px;
}

#buttonu7363.ButtonSelected #u7365-4,#buttonu7372:hover #u7373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7372.ButtonSelected #u7373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 234px;
	margin: 18px -10000px 0px 0px;
}

#buttonu7372:hover #u7373-4 p,#buttonu7372:hover #u7373-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u7344-2,#u7359-2,#u7367-2,#u7353-2,#u7361-2,#u7371-2,#u7355-2,#u7365-2,#u7373-2
{
	padding-top: 9px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u7344,#u7359,#u7367,#u7353,#u7361,#u7371,#u7355,#u7365,#u7373
{
	font-size: 25px;
	line-height: 25px;
}

#u8177
{
	z-index: 60;
	width: 95px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 479px;
	left: 97px;
}

#u8182
{
	z-index: 62;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 205px;
}

#u8187
{
	z-index: 64;
	width: 124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 332px;
}

#u8192
{
	z-index: 66;
	width: 138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 480px;
	left: 495px;
}

#u8197
{
	z-index: 68;
	width: 190px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 673px;
}

#u8202
{
	z-index: 70;
	width: 121px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 625px;
	left: 100px;
}

#u8207
{
	z-index: 72;
	width: 132px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 263px;
}

#u8212
{
	z-index: 74;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 627px;
	left: 437px;
}

#u8217
{
	z-index: 76;
	width: 173px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 594px;
	left: 636px;
}

#u8222
{
	z-index: 78;
	width: 133px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 900px;
}

#u8227
{
	z-index: 80;
	width: 61px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 612px;
	left: 843px;
}

#u8232
{
	z-index: 82;
	width: 127px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 736px;
	left: 101px;
}

#u8237
{
	z-index: 84;
	width: 170px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 747px;
	left: 260px;
}

#u8242
{
	z-index: 86;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 738px;
	left: 478px;
}

#u8247
{
	z-index: 88;
	width: 153px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 741px;
	left: 650px;
}

#u8252
{
	z-index: 90;
	width: 62px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 729px;
	left: 828px;
}

#u8257
{
	z-index: 92;
	width: 106px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 723px;
	left: 943px;
}

#u8262
{
	z-index: 94;
	width: 96px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 611px;
	left: 951px;
}

#u8267
{
	z-index: 96;
	width: 179px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 880px;
	left: 101px;
}

#u8282
{
	z-index: 98;
	width: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 870px;
	left: 321px;
}

#u8287
{
	z-index: 100;
	width: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 876px;
	left: 602px;
}

#u8297
{
	z-index: 102;
	width: 120px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 859px;
	left: 787px;
}

#u8307
{
	z-index: 106;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 865px;
	left: 950px;
}

#u8346
{
	z-index: 110;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 869px;
	left: 451px;
}

#u10128
{
	z-index: 122;
	width: 962px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 386px;
	left: 99px;
}

#u10127
{
	z-index: 128;
	vertical-align: top;
	width: 261px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	background: url("../images/u10127.png") no-repeat 0px 0px;
}

.hidpi #u10127
{
	background-image: url("../images/u10127_2x.png");
	background-size: 261px 2px;
}

#u7569-4
{
	z-index: 123;
	width: 415px;
	min-height: 29px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 32px;
	text-align: justify;
	font-size: 27px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 277px;
}

#u7570
{
	z-index: 127;
	vertical-align: top;
	width: 261px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 701px;
	background: url("../images/u7570.png") no-repeat 0px 0px;
}

.hidpi #u7570
{
	background-image: url("../images/u7570_2x.png");
	background-size: 261px 2px;
}

#pu10132
{
	width: 0.01px;
	margin-top: 46px;
}

#u10132
{
	z-index: 120;
	width: 166px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u8356
{
	z-index: 112;
	width: 225px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 260px;
}

#u8302
{
	z-index: 104;
	width: 174px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 582px;
}

#u8312
{
	z-index: 108;
	width: 137px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 821px;
}

#pu10765
{
	width: 0.01px;
	margin-left: 171px;
	margin-top: 7px;
}

#u10765
{
	z-index: 116;
	width: 168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u10771
{
	z-index: 118;
	width: 102px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 262px;
}

#u10753
{
	z-index: 114;
	width: 101px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 433px;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 51px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 191;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 180;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 168;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 172;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 166;
	min-height: 287px;
}

#u1032
{
	z-index: 167;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 181;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 167;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 206;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 961px;
}

#page .verticalspacer
{
	clear: both;
}

