.version.nosotros /* version checker */
{
	color: #00001B;
	background-color: #E8CEE1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1856px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 14px;
	width: 0.01px;
}

#paccordionu7799
{
	width: 0.01px;
	margin-left: 1px;
}

#accordionu7799
{
	z-index: 45;
	width: 956px;
	margin-right: -10000px;
	margin-top: 2px;
}

#u7800
{
	z-index: 46;
	width: 956px;
}

#u7838-3
{
	z-index: 47;
	width: 946px;
	min-height: 72px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u7838-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7838-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 72px;
	width: 946px;
	margin: 0px;
}

#u7801
{
	z-index: 50;
	width: 956px;
	padding-bottom: 9px;
}

#menuu7802
{
	z-index: 51;
	width: 646px;
	margin-right: -10000px;
	margin-top: 11px;
	left: 172px;
}

#u7831
{
	width: 113px;
	min-height: 22px;
	margin-right: -10000px;
}

#u7832
{
	width: 113px;
	padding-bottom: 8px;
}

#u7832:hover
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832:active
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7832.MuseMenuActive
{
	width: 113px;
	min-height: 0px;
	margin: 0px;
}

#u7834-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7832:hover #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832:active #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7832.MuseMenuActive #u7834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u7803
{
	width: 145px;
	min-height: 22px;
	margin-right: -10000px;
	left: 115px;
}

#u7804
{
	width: 145px;
	padding-bottom: 8px;
}

#u7804.MuseMenuActive
{
	width: 145px;
	min-height: 0px;
	margin: 0px;
}

#u7805-4
{
	width: 93px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u7804:hover #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804:active #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7804.MuseMenuActive #u7805-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u7817
{
	width: 111px;
	min-height: 22px;
	margin-right: -10000px;
	left: 262px;
}

#u7820
{
	width: 111px;
	padding-bottom: 8px;
}

#u7820.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u7823-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7820:hover #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820:active #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7820.MuseMenuActive #u7823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7824
{
	width: 127px;
	min-height: 22px;
	margin-right: -10000px;
	left: 375px;
}

#u7825
{
	width: 127px;
	padding-bottom: 8px;
}

#u7825.MuseMenuActive
{
	width: 127px;
	min-height: 0px;
	margin: 0px;
}

#u7826-4
{
	width: 76px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7825:hover #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825:active #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7825.MuseMenuActive #u7826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 76px;
	margin: 0px -10000px 0px 0px;
}

#u7810
{
	width: 142px;
	min-height: 22px;
	margin-right: -10000px;
	left: 504px;
}

#u7813
{
	width: 142px;
	padding-bottom: 8px;
}

#u7813.MuseMenuActive
{
	width: 142px;
	min-height: 0px;
	margin: 0px;
}

#u7814-4
{
	width: 91px;
	min-height: 14px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u7813:hover #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813:active #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u7813.MuseMenuActive #u7814-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u2733-4
{
	z-index: 102;
	width: 379px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 422px;
}

#u2746
{
	z-index: 106;
	width: 1px;
	height: 46px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 403px;
}

#u3346
{
	z-index: 109;
	width: 373px;
	margin-right: -10000px;
	left: 7px;
}

#u7792-4
{
	z-index: 111;
	width: 112px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 755px;
}

#u7793
{
	z-index: 115;
	width: 71px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 888px;
}

#u7794
{
	z-index: 116;
	width: 69px;
	padding-bottom: 11px;
	margin-right: -10000px;
}

#u7795
{
	z-index: 117;
	width: 47px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 12px;
}

#u7796
{
	z-index: 120;
	width: 47px;
	height: 5px;
}

#u7797
{
	z-index: 118;
	width: 47px;
	height: 5px;
	margin-top: 7px;
}

#u7798
{
	z-index: 119;
	width: 47px;
	height: 5px;
	margin-top: 8px;
}

#u4087
{
	z-index: 8;
	height: 288px;
	background: transparent url("../images/dscn0489%20copia.jpg") no-repeat left top;
	background-size: cover;
}

#u4087-bw
{
	z-index: 8;
	margin-top: 10px;
	height: 288px;
}

#pu845-8
{
	width: 0.01px;
	margin-top: 49px;
}

#u845-8
{
	z-index: 9;
	width: 471px;
	min-height: 282px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u846
{
	z-index: 17;
	width: 466px;
	height: 290px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 491px;
	background: #BCF0D1 url("../images/nosotros%202-u846-fr.jpg") no-repeat left top;
	background-size: contain;
}

.hidpi #u846
{
	background-image: url("../images/nosotros%202-u846-fr_2x.jpg");
}

#u4216
{
	z-index: 38;
	width: 956px;
	height: 233px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/celular%20294.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u4216
{
	background-image: url("../images/celular%20294_2x.jpg");
}

#u1103-4
{
	z-index: 18;
	width: 957px;
	min-height: 90px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: justify;
	font-family: nobile, sans-serif;
	font-weight: 500;
	margin-top: 32px;
	position: relative;
}

#u7866
{
	z-index: 125;
	width: 912px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 26px;
	margin-top: 28px;
	position: relative;
}

#u7598
{
	z-index: 131;
	vertical-align: top;
	width: 284px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	background: url("../images/u7598.png") no-repeat 0px 0px;
}

.hidpi #u7598
{
	background-image: url("../images/u7598_2x.png");
	background-size: 284px 2px;
}

#u3060-4
{
	z-index: 126;
	width: 304px;
	min-height: 29px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 32px;
	text-align: center;
	font-size: 27px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 303px;
}

#u3063
{
	z-index: 130;
	vertical-align: top;
	width: 284px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 628px;
	background: url("../images/u3063.png") no-repeat 0px 0px;
}

.hidpi #u3063
{
	background-image: url("../images/u3063_2x.png");
	background-size: 284px 2px;
}

#pu3138
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: 45px;
}

#u3138
{
	z-index: 22;
	width: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3150
{
	z-index: 24;
	width: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 199px;
}

#u3156
{
	z-index: 26;
	width: 142px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#pu7562-6
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: 19px;
}

#u7562-6
{
	z-index: 39;
	width: 141px;
	min-height: 47px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u3518-5
{
	z-index: 28;
	width: 142px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 198px;
}

#u3519-5
{
	z-index: 33;
	width: 142px;
	min-height: 17px;
	background-color: transparent;
	line-height: 14px;
	text-align: center;
	font-size: 12px;
	font-family: nobile, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u3518,#u3519
{
	color: #000000;
	font-family: nobile, sans-serif;
	font-weight: 500;
}

#buttonu7605
{
	z-index: 2;
	width: 231px;
	border-color: #787878;
	background-color: transparent;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-left: 367px;
	margin-top: 3px;
	position: relative;
}

#buttonu7605.ButtonSelected
{
	width: 231px;
	min-height: 0px;
	margin: 3px 0px 0px 367px;
}

#u7607-4
{
	z-index: 3;
	width: 112px;
	min-height: 30px;
	background-color: transparent;
	color: #94999B;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: normal;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 59px;
}

#buttonu7605:hover #u7607-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 112px;
	margin: 56px -10000px 0px 0px;
}

#buttonu7605.ButtonSelected #u7607-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 112px;
	margin: 56px -10000px 0px 0px;
}

#buttonu7605:hover #u7607-4 p
{
	color: #000000;
	visibility: inherit;
}

#buttonu7605.ButtonSelected #u7607-4 p
{
	color: #94999B;
	visibility: inherit;
}

#u7606
{
	z-index: 7;
	width: 52px;
	height: 52px;
	border-style: solid;
	border-color: #94999B;
	background-color: transparent;
	-webkit-transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-11);
	-ms-transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-11);
	transform: matrix(0.7071,0.7071,-0.7071,0.7071,27,-11);
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 88px;
	border-width: 2px 0px 0px 2px;
}

#buttonu7605:hover #u7606
{
	border-color: #000000;
	width: 52px;
	height: 52px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
}

#buttonu7605.ButtonSelected #u7606
{
	border-color: #94999B;
	width: 52px;
	height: 52px;
	min-height: 0px;
	margin: 21px -10000px 0px 0px;
}

#pu77
{
	width: 0.01px;
	margin-left: -100px;
}

#u77_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 16px;
	padding-bottom: 61px;
}

#u3220
{
	z-index: 107;
	width: 42px;
	left: 832px;
}

#u3220:hover
{
	width: 42px;
	min-height: 0px;
	margin: 0px;
}

#u141
{
	z-index: 96;
	width: 959px;
	height: 1px;
	left: 100px;
	margin-top: 12px;
}

#u178-4
{
	z-index: 84;
	width: 957px;
	min-height: 23px;
	left: 100px;
	margin-top: 18px;
}

#u179-8
{
	z-index: 88;
	width: 633px;
	min-height: 83px;
	left: 100px;
	margin-top: 12px;
}

#u77,#u77-bw
{
	z-index: 82;
	min-height: 287px;
}

#u1032
{
	z-index: 83;
	min-height: 25px;
	padding-bottom: 12px;
}

#u1032_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 959px;
	left: -100px;
}

#u1031-5
{
	z-index: 97;
	width: 628px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 266px;
}

#u1032-bw
{
	z-index: 83;
	min-height: 25px;
	margin-bottom: -1px;
	margin-top: 264px;
}

#u10705
{
	z-index: 122;
	height: 43px;
	width: 44px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 769px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

